name: Snakemake Workflow Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - 'workflow/**'
      - 'config/**'
      - 'environment.yaml'
      - '.github/workflows/tests.yml'

jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Mamba
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          activate-environment: q100-smk
          environment-file: environment.yaml
          auto-activate-base: false

      - name: Lint workflow
        shell: bash -l {0}
        run: |
          snakemake --lint

  Formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Mamba
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          activate-environment: q100-smk
          environment-file: environment.yaml
          auto-activate-base: false

      - name: Check Snakefile formatting
        shell: bash -l {0}
        run: |
          snakefmt --check workflow/

  Dry-Run:
    runs-on: ubuntu-latest
    needs: [Linting, Formatting]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Mamba
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          activate-environment: q100-smk
          environment-file: environment.yaml
          auto-activate-base: false

      - name: Dry-run workflow
        shell: bash -l {0}
        run: |
          snakemake -n --dry-run --quiet
