name: Snakemake Workflow Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  - name: snakemke
    uses: snakemake/snakemake-github-action@v2

  # Testing:
  #   uses: snakemake/snakemake-github-action@v2
  #   with:
  #     directory: ".test"
  #     snakefile: "workflow/Snakefile"
  #     args: "--dry-run --sdm conda --conda-cleanup-pkgs cache"
  #     stagein: "" # additional preliminary commands to run (can be multiline)
  #     show-disk-usage-on-error: true